$buttonColor: #01acac;
$postsTitleColor: #0097a7;
$textColorDark: #010f16;
$textColorLight: #ececec;
$borderColor: #607d8b;

$mainFont: 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
